<div class='row form-background z-depth-5'>
	<form action='/profile/new/<%= user.id %>' class='edit-profile col s12 m12 l12'>
		<div class='form-group col s12 m12 l12'>
			
			<input type='submit' value='Submit' class='btn-large green accent-4 col s12 m12 l12 login-button'>
		</div>
	</form>
</div>