

<h1>This is my book Home</h1>


<form method="GET" action="/books" >
    <label for="q">Book title</label>
    <input id="q" type="text" name="title">
    <button type="submit" value="Search">Search</button>
    
</form>
        


 
 