
<style>
    div{
        display: inline-block;
        margin: 0 10px;
    }

   
    #find{
        display: inline-block;
        align-items: center;
        margin: 20px 0px 0px 400px;
    }

</style>



<form method="GET" action="/books" >
    <div id="find" >
        <label for="q">Find your Book  </label>
        <input id="q" type="text" name="title">
        <button type="submit" value="Search">Search</button>

    </div>
    
</form>
        


 
 