
<style>
   #pandfind{
    display: inline-flex;
   }

   #wll{
   margin-right: 10px;
   }
    #find{
        
        align-items: center;
        margin: 200px 50px 0px 90px;
    }

</style>
 



   
<div id="pandfind">
        <div id="find">
         <form method="GET" action="/books" >
            
        
            <div class="form-group">
              <h2>Find your Book</h2>
            </div>
            <div class="form-group">
                <input id="q" type="text" name="title">
                <button type="submit" value="Search"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg></button>
            
            </div>
            
            
           </form>
        </div>
            
    
        <div class="well" id="wll">
            <img src="https://i.guim.co.uk/img/media/d305370075686a053b46f5c0e6384e32b3c00f97/0_50_5231_3138/master/5231.jpg?width=620&quality=45&dpr=2&s=none"  width="900">
        </div>
    </div>
   
 