<style>
    div{
        display: inline-block;
        margin: 0 10px;
    }
    p{
        text-align: center;
    }
</style>
 
 
<% books.forEach(element=>{ %>
    <div class="well">
        
        <a href="books/<%= element.id %>">
            <img src="<%= element.volumeInfo.imageLinks.thumbnail %>" >
            <p><%= element.volumeInfo.title %> </p>
         </a>
           
        
    </div>
 
<% }) %> 
 