<style>
   
    p{
        text-align: center;
        margin-top: 10px;
        color: #323031;
        size: 100px;
        
    }
    #theimg{
        display: inline-block;
        text-align: center;
        align-items: center;
        padding: 5px;
        /* margin-right: 100px; */
        /* margin: 10px 10px 10px 100px; */
        margin: 30px;
        width: 300px;
        
    }
  
    a:link {
    text-decoration: none;
    }
    
    
    
</style>
 
 <div class="books-container">

     <% books.forEach(element=>{ %>
        <div class="well" id="theimg" >
            
            <a href="books/<%= element.id %>">
                <img src="<%= element.volumeInfo.imageLinks.thumbnail %>" >
                <p><%= element.volumeInfo.title %></p>
            </a>
            
            
        </div>
        
        <% }) %> 
        
    </div>

