<nav class="navbar-outer-container" role="navigation">
  <div class="title-container">
    <h2 class="title">Calorie Counter</h2>
  </div>
  
  <div class="navbar-container">
    <div class="navbar-left"></div>
    <div class="navbar-center">
    <ul class="navbar-list">
      <li><a id="navbar-search" href="/foods">Search Recipes</a></li>
      <li><a id="navbar-item" href="/foods/recipes">Saved Recipes</a></li>
      <li><a id="navbar-item" href="/users/profile">Profile</a></li>
      <li><a id="navbar-item" href="/users/logout">Logout</a></li>
    </ul>
  </div>
    <div class="navbar-right"></div>
  </div>
</nav>
  