
<style>
    h1{
        color: #084c61;
        text-align: center;
        font-size: 80px;
    }
   p{
    text-align: center; 
    font-size: 30px;
    }
 body{

     background-image: url( "https://i.guim.co.uk/img/media/d305370075686a053b46f5c0e6384e32b3c00f97/0_50_5231_3138/master/5231.jpg?width=620&quality=45&dpr=2&s=none" ) 
 }
    
 
</style>

<div   class="well" id="about" >

    <h1>About Us </h1>
    <br>
    <br>
    <p>E-library is a library online ,<br> providing different books across all topics.</p>

 </div>