<h1>Walk-Ins Welcome!!!</h1>
    <h2>We will be observing protocols to ensure a safe experience for all of our customers and staff.  </h2>
   <p> Regular Store Hours</p> 
   <p>Saturday - Thursday: 8am - 6pm</p> 
    <p>Friday: Closed</p>

    <style>
        body {
            background-color: rgb(246, 207, 213);
        }
        h1 {
            font-family: monospace;
            font-size: 50px;
            text-align: center;
            color: palevioletred;
        }

        h2 {
            font-family: monospace;
            font-size: 25px;
            text-align: center;
            color: palevioletred;
        }

        p {
            font-family: monospace;
            font-size: 20px;
            text-align: center;
            color: palevioletred;
        }
    </style>