<h1>Shopping Cart</h1> 



 <style>
    body {
            background-color: rgb(246, 207, 213);
        }
    h1 {
        font-family: monospace;
        font-size: 50px;
        text-align: center;
        color: palevioletred;
    }

    h2 {
        font-family: monospace;
        font-size: 25px;
        text-align: center;
        color: palevioletred;
    }

    p {
        font-family: monospace;
        font-size: 20px;
        text-align: center;
        color: palevioletred;
    }
</style>