<h1>We are happy to hear from you!</h1>
<h2>please feel free to contact us through</h2>
<p>
    +973 1777 6666 <br>
    CustomerService@flawlessflower.com <br>
    BIBF - MANAMA
</p>


<style>
    body {
            background-color: rgb(246, 207, 213);
        }
    h1 {
        font-family: monospace;
        font-size: 50px;
        text-align: center;
        color: palevioletred;
    }

    h2 {
        font-family: monospace;
        font-size: 25px;
        text-align: center;
        color: palevioletred;
    }

    p {
        font-family: monospace;
        font-size: 20px;
        text-align: center;
        color: palevioletred;
    }
</style>


