
<p>Hello GA Folks!!</p>


<ul>
    
    <% course.forEach(element => { %>
    <br><br>
    <li> <a href="/users/courses/<%= element.id %>"><p><%= element.name %></p></a>
   <p> <%= element.description %> </p>
    </li>
  
   <br><br>
   
    </ul>
<% });%>