<style>
    h3{
        text-align: center;

    }
</style>
<h3>Hi you have to login </h3>

<img src="https://media2.giphy.com/media/XGhTPVMgzLv7s2TOE6/giphy.gif?cid=ecf05e47ovqo2krjf89gb0ov9prv6ukcivo0rmvxq346vmbp&rid=giphy.gif&ct=g" alt="" style="margin-left: 400px;">