<h2>Home</h2>

<a href="/foods/recipes">Saved Recipes</a>

<form method="GET" action="/foods/search">
    <!-- we use the following for putting text before the search bar -->
    <label for="recipeResult">Search for Recipes</label>
    <input type="text" name="q" autocomplete="off">
    <button type="submit">Search</button>
</form>


<% if(foods) { %>
    <% foods.forEach((food, idx) => { %>
        <div>
            <a href="/foods/<%= food.recipe.label %>">
                <%= food.recipe.label %>
            </a>
        </div>
    <% }) %>
<% } %>


