<!DOCTYPE html>
<html lang="en">
<head>
<style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    li {
      display: inline;
      justify-content: center;
      padding-left: 30px;
    }

    a:link{
    text-decoration:none;
}
    nav{
        text-align: center;

    }
    
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flawless Flowers</title>
</head>

<body>
    <nav>
        <ul>
            <% if(user){ %>
                <li><br><br><a href="/users/profile">Profile</a></li>
                <li><a href="/users/logout">Logout</a></li>
                <li><a href="/users/home">Home</a></li>
                <li><a href="/users/shop">Shop Now!</a></li>
                <li><a href="/users/about">About Us</a></li>
                <li><a href="/users/contact">Conatct Us</a>
                <li><a href="/users/Cart">Cart 🛒</a>
                    <br><br></li><br>

            <% } else { %> 
                <li><a href="/users/new">Sign Up</a></li>
                <li><a href="/users/login">Login</a></li>
            <% } %>
        </ul>
    </nav>
    
    <%- body %> 
</body>
</html>
