<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Auth</title>
</head>
<body>
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
         background-color: rgb(62, 95, 203);
        }
        
        li {
          float: left;
          padding: 20px;
        }
        
        li a {
          display: block;
          color: black;
          text-align: center;
          text-decoration: none;
          font-size: 20px;
        }
        
        li a:hover {
          background-color: rgb(0, 128, 45);
        }
        h2{
            font-size: 30px;
          color: teal;
        }
        </style>
    <nav>
        <ul>
            <% if(user){ %>
                <li><a href="/users/profile">Profile</a></li>
                <li><a href="/users/logout">Logout</a></li>
                <li><a href="/views/>Home">Home</a></li>
                <li><a href="/users/book">Booking</a></li>
            <% } else { %> 
                <li><a href="/users/new">Sign Up</a></li>
                <li><a href="/users/login">Login</a></li>
            <% } %>
        </ul>
    </nav>
    <h1>Express Auth Boilerplate for Project 2</h1>
    <%- body %> 
</body>
</html>