<h1>Ranoh Glasses</h1>
        <div class="container">
            <h1>&#x2728;Protect yor ayes with Ranoh Glasses &#x2728;</h1>
            <div id="searchWrapper">
                <form action="/shop/search" method="GET">
                <input
                    type="text"
                    name="searchBar"
                    id="searchBar"
                    placeholder="Find what you love"
                />
                <button type="submit">search</button>
            </form>
            </div>
            <ul id="charactersList"></ul>
        </div>
