<%  allProducts.forEach(p => { %>

    <img src="<%= p.photo %>">
    <li class="description"><%= p.description %></li>
    <li class="price"><%= p.price %> BHD</li>



    <form action="/users/newOrder" method="post">
        <input type="text" value="<%= p.description %>" name="desc">
        <button type="submit">ADD TO CART</button>
    </form>





    <!-- <button> Add to cart </button> -->
<%   })  %>


<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        height: 250px;
}
    .description {
        text-align: center;
        font-size: 30px;
    }
    
    .price {
        text-align: center;
        font-size: 30px;

    }

</style>