<% shop.forEach(t => { %>
    
    <img src="<%= T.img %>" style="width:200px;height:200px;"> </br>
    <form action="/shop/cap/<%= T.brandName  %>" method="post">

      
    </form>

<% }) %>
        