body {
    position: absolute;
    margin: 0;
}

.main-container {
    border: 2px solid yellow;
    height: 100vh;
    width: 100vw;
    display: fixed;
}

/* navbar */

.navbar-outer-container {
    border: 1px solid blue;
    height: 30%;
}

.title-container {
    border: 1px solid red;
    text-align: center;
    font-size: 28px;
}

.navbar-container {
    display: flex;
}

.navbar-left, .navbar-right {
    border: 1px solid green;
    width: 20%;
}

.navbar-center {
    border: 1px solid black;
    width: 60%;
    text-align: center;
}

.navbar-container li {
    display: inline-block;
    text-align: center;
    padding: 0 2% 0 2%;
    font-size: 15px;
    text-decoration: none;
}

#navbar-search {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

#navbar-item {
    text-decoration: none;
}

/* foods/home */

.home-title {
    border: 1px solid green;
    text-align: center;
    height: 15%;
}

.search-container {
    border: 2px solid orange;
}

.search-input-container {
    border: 1px solid black;
    text-align: center;
    padding: 10px 10% 10px 10%;
    height: 15%;
}

.search-label {
    color: brown;
}

.search-input {
    background-color: lightblue;
    border: 1px solid grey;
}

.search-button {

}

.results-container {
    border: 3px solid rebeccapurple;
    min-height: 50%;
}

.results {
    display: inline-block;
}

.results-image {
    display: inline-block;
    text-align: center; /*This does not work*/
    height: auto;
    width: 30%;
    max-width: 200px;
    margin: 5px;
}