<h2>To Cook Recipes</h2>

<a href="/">Home</a>

<% allFoods.forEach((food, idx) => { %>
    <% if(food.name != 'undefined') { %>
        <div>
            <p><%= food.name %></p>

            <form method="POST" action="/foods/recipes/<%= food.name %>?_method=DELETE">
                <input hidden type="text" name="name" autocomplete="off" value="delete">
                <button type="submit">Delete</button>
            </form>
        </div>
    <% } %>
<% }) %>