<form action="/cards/newcard" method="POST">

    <label for="name">Name on the Card:</label>
    <input type="cardName" name="cardName" id="cardName" >    

    <label for="iban">Iban Number</label>
    <input type="iban" name="iban" id="iban">

    <label for="cardNumber">Card Number:</label>
    <input type="cardNumber" name="cardNumber" id="cardNumber">

    <label for="cardNumber">exp Date:</label>
    <input type="expDate" name="expDate" id="expDate">

    <label for="cvc">CVC:</label>
    <input type="cvc" name="cvc" id="cvc">
    <!-- For the iban number: -->
    <!-- <label for="iban">Iban Account:</label>
    <input type="text" name="iBanNum" id="iBanNum"> -->
    

    <button type="submit">Create </button>
</form>