



<%  allFrames.forEach(frames => { %>
    <div>


        <p><%= frames.brandName %></p>
        <p><%= frames.category %></p>
        <p><%= frames.color %></p>
        <img src="<%= frames.img %>">
        <button href ="shop/order"></button>

    </div>

<%   })  %>






