<h1>anime Shop</h1>
<h2>Tomodachi anime shop</h2>
        <div class="container">
            <div id="searchWrapper">
                <form action="/shop/search" method="GET">
                <input
                    type="text"
                    name="searchBar"
                    id="searchBar"
                    placeholder="Find what you love"
                />
                <button type="submit">search</button>
            </form>
            </div>
            <ul id="charactersList"></ul>
        </div>

        
<% home.forEach(t => { %>
    
    <img src="<%= t.url %>" style="width:200px;height:200px;"> </br>
    <form action="/users/book/<%= t.destination %>" method="post">
    <p><%= t.destination %></p>
    </form>

<% }) %>
