<form action="/users/startup" method="POST"style="display:block">
    <label for="name">mobile number</label>
    <input type="name" name="name" id="name">
    <br><br>
    <div style="display:inline;"><label for="name" >your address</label>
    <span style="line-height:60px; position:absolute"><input type="text" name="content" id="text"style="height:50px;"></span>
    <div style="position:absolute;margin-top:55px;"><label for="name">created by</label>
    <input type="name" name="descrip" id="name"></div>>
    </div>
    <pre style="display:inline">                          </pre>
    <button type="submit" >Place order</button>
</form>

<% home.forEach(t => { %>
    
    <img src="<%= t.url %>" style="width:200px;height:200px;"> </br>
    <form action="/users/book/<%= t.destination %>" method="post">
    <p><%= t.destination %></p>
    </form>

<% }) %>
