



<%  allcap.forEach(allcap => { %>
    <div>


        <p><%= cap.brandName %></p>
        <p><%= cap.category %></p>
        <p><%= cap.color %></p>
        <img src="<%= cap.img %>">
        <button href ="shop/order"></button>

    </div>

<%   })  %>







