
        <div class="container">
            <div ="omnisend-form-633313c2fca4de681b98241c-section-633453ca90906e4fc90e7be2"></div>
            <form id="omnisend-form-633313c2fca4de681b98241c-submit-form" class="omnisend-form-633313c2fca4de681b98241c-sections-container" novalidate="">
            
                
                <style type="text/css">
                    .omnisend-form-633313c2fca4de681b98241c-section-633453ca90906e4fc90e7be2 {
                        display: flex;
                        flex-wrap: wrap;
                        
                        padding-left:24px;padding-right:24px;padding-top:20px;padding-bottom:0px;
                        
                        
                        
                    }
            
                    @media screen and (max-width: 600px) {
                        .omnisend-form-633313c2fca4de681b98241c-section-633453ca90906e4fc90e7be2{
                            flex-wrap: wrap;
                        }
                    }
                </style>
                <div class="omnisend-form-633313c2fca4de681b98241c-section-633453ca90906e4fc90e7be2">
                    
                        
                            <style type="text/css">
                                .omnisend-form-633313c2fca4de681b98241c-column-633453ca90906e4fc90e7be4{
                                    flex-basis: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    flex-grow: 1;
                                }
            
                                @media screen and (max-width: 600px) {
                                    .omnisend-form-633313c2fca4de681b98241c-column-633453ca90906e4fc90e7be4{
                                        width: 100%;
                                        flex-basis: initial;
                                    }
                                }
                            </style>
                            <div class="omnisend-mobile-container omnisend-form-633313c2fca4de681b98241c-column-633453ca90906e4fc90e7be4">
                                
                                    <!--Image content block starts -->
            
            
            
            
            
            
            
            
            
                
            
                
            
                
            
                
            
                
                    
                
            
            
            <style type="text/css">
                .omnisend-form-633313c2fca4de681b98241c-image-container-633453cc90906e4fc90e7be5 {
                    box-sizing: border-box;
                    padding: 0px;
                    display: flex;
                    justify-content: center;
                    
                }
            
                .omnisend-form-633313c2fca4de681b98241c-empty-image-container-633453cc90906e4fc90e7be5 {
                    background-color: #E7E7E7;
                    width: 100%;
                    display: flex;
                    align-items: center;
                }
            
                .omnisend-form-633313c2fca4de681b98241c-action-633453cc90906e4fc90e7be5 {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            
                .omnisend-form-empty-image {
                    width: 24px;
                    margin: 0 auto;
                }
            
                .omnisend-form-633313c2fca4de681b98241c-image-633453cc90906e4fc90e7be5 {
                    max-width: 100%;
                    height: auto;
                }
            </style>
            <div class="omnisend-form-633313c2fca4de681b98241c-image-container-633453cc90906e4fc90e7be5">
                
                
                    <img class="omnisend-form-633313c2fca4de681b98241c-image-633453cc90906e4fc90e7be5" alt="Image" border="0" src="https://formsv2.soundestlink.com/cdn-cgi/image/fit=scale-down,width=97/forms/633453e0523cf700108b4ce7" srcset="https://formsv2.soundestlink.com/cdn-cgi/image/fit=scale-down,width=194/forms/633453e0523cf700108b4ce7 2x" style="font-family:Arial, sans-serif;font-size:12px;color:#000000;line-height:150%;width: 97px;" width="3780" height="3780">
                
                
            </div>
            
                                
                            </div>
                        
                    
                </div>
            
                <style type="text/css">
                    .omnisend-form-633313c2fca4de681b98241c-section-624ab2f927652f651edfd0ac {
                        display: flex;
                        flex-wrap: wrap;
                        
                        padding-left:15px;padding-right:15px;padding-top:0px;padding-bottom:30px;
                        
                        
                        
                    }
            
                    @media screen and (max-width: 600px) {
                        .omnisend-form-633313c2fca4de681b98241c-section-624ab2f927652f651edfd0ac{
                            flex-wrap: wrap;
                        }
                    }
                </style>
                <div class="omnisend-form-633313c2fca4de681b98241c-section-624ab2f927652f651edfd0ac">
                    
                        
                            <style type="text/css">
                                .omnisend-form-633313c2fca4de681b98241c-column-624ab2f927652f651edfd0ae{
                                    flex-basis: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    flex-grow: 1;
                                }
            
                                @media screen and (max-width: 600px) {
                                    .omnisend-form-633313c2fca4de681b98241c-column-624ab2f927652f651edfd0ae{
                                        width: 100%;
                                        flex-basis: initial;
                                    }
                                }
                            </style>
                            <div class="omnisend-mobile-container omnisend-form-633313c2fca4de681b98241c-column-624ab2f927652f651edfd0ae">
                                
                                    <!--Text content block starts -->
            
            
            
    
            
            
            <style type="text/css">
                .omnisend-form-633313c2fca4de681b98241c-text-624ab2f927652f651edfd0b0 {
                    padding:12px;
                }
            
                .omnisend-form-633313c2fca4de681b98241c-text-624ab2f927652f651edfd0b0 a {
                    color: #F90D04;
                }
            
                .omnisend-form-633313c2fca4de681b98241c-text-624ab2f927652f651edfd0b0,
                .omnisend-form-633313c2fca4de681b98241c-text-624ab2f927652f651edfd0b0 p {
                    margin: 0px;
                    color: #ffffff !important;
                    font-family: Helvetica Neue, Helvetica, Arial, Verdana, sans-serif !important;
                    font-size: 36px !important;
                    line-height: 125% !important;
                    word-break: break-word;
                }
            </style>
            <div class="omnisend-form-633313c2fca4de681b98241c-text-624ab2f927652f651edfd0b0">
                <p style="text-align: center;"><strong>Tomodachi anime shop</strong></p>
            </div>
            <!--Text content block ends -->
            
                                
                                    <!--Text content block starts -->
            
            
            
            
            
            
            
            
            <style type="text/css">
                .omnisend-form-633313c2fca4de681b98241c-text-627932445028ebd8c6660c4f {
                    padding:12px;
                }
            
                .omnisend-form-633313c2fca4de681b98241c-text-627932445028ebd8c6660c4f a {
                    color: #F90D04;
                }
            
                .omnisend-form-633313c2fca4de681b98241c-text-627932445028ebd8c6660c4f,
                .omnisend-form-633313c2fca4de681b98241c-text-627932445028ebd8c6660c4f p {
                    margin: 0px;
                    color: #000000 !important;
                    font-family: Helvetica Neue, Helvetica, Arial, Verdana, sans-serif !important;
                    font-size: 16px !important;
                    line-height: 125% !important;
                    word-break: break-word;
                }
            </style>
            <div class="omnisend-form-633313c2fca4de681b98241c-text-627932445028ebd8c6660c4f">

            </div>
            <!--Text content block ends -->
            
                                
                                    
            
            
            
            
            
            
            <style>
                .omnisend-form-633313c2fca4de681b98241c-field-container-62a3147776d81914aa87ed98 {
                    padding:12px;
                    display: flex;
                    flex-direction: column;
                }
            </style>
            <div id="omnisend-form-633313c2fca4de681b98241c-field-62a3147776d81914aa87ed98" class="omnisend-form-633313c2fca4de681b98241c-field-container-62a3147776d81914aa87ed98">
                <style>
                .omnisend-form-633313c2fca4de681b98241c-field-container-62a3147776d81914aa87ed98-label {
                    color:#000000;padding:12px 0;;
                    font-family: Arial, sans-serif;
                    font-size: 16px;
                    line-height: 120%;
                    word-break: break-word;
                }
            
                .omnisend-form-633313c2fca4de681b98241c-field-container-62a3147776d81914aa87ed98-label.error {
                   color: #FF0000;
                }
            </style>
            
            
                <style>
                #omnisend-form-633313c2fca4de681b98241c-field-container-62a3147776d81914aa87ed98-emailField-input.omnisend-form-633313c2fca4de681b98241c-field-container-62a3147776d81914aa87ed98-input {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -ms-appearance: none;
                    -o-appearance: none;
                    appearance: none;
                    outline: none;
                    border: none;
                    background-color: transparent;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    height: auto;
                    flex-basis: 0;
                    flex-grow: 1;
                    box-sizing: border-box;
                    padding:16px;color:#000000;border-radius:8px;border-style:solid;border-color:#797979;border-width:2px;;
                }
            
                #omnisend-form-633313c2fca4de681b98241c-field-container-62a3147776d81914aa87ed98-emailField-input.omnisend-form-633313c2fca4de681b98241c-field-container-62a3147776d81914aa87ed98-input:focus{
                    outline: auto;
                }
            
                #omnisend-form-633313c2fca4de681b98241c-field-container-62a3147776d81914aa87ed98-emailField-input.omnisend-form-633313c2fca4de681b98241c-field-container-62a3147776d81914aa87ed98-input::placeholder {
                    opacity: 1;
                    color:#797979;;
                }
            
                #omnisend-form-633313c2fca4de681b98241c-field-container-62a3147776d81914aa87ed98-emailField-input.omnisend-form-633313c2fca4de681b98241c-field-container-62a3147776d81914aa87ed98-input {
                    font-family: Arial, sans-serif;
                    font-size: 16px;
                    line-height: 120%;
                }
            
                #omnisend-form-633313c2fca4de681b98241c-field-container-62a3147776d81914aa87ed98-emailField-input.omnisend-form-633313c2fca4de681b98241c-field-container-62a3147776d81914aa87ed98-input.error {
                    border-color: #FF0000;
                }
            </style>
            <input id="omnisend-form-633313c2fca4de681b98241c-field-container-62a3147776d81914aa87ed98-emailField-input" class="omnisend-form-633313c2fca4de681b98241c-field-container-62a3147776d81914aa87ed98-input" type="email" placeholder="Find what you love" name="emailField" required="" maxlength="" oninput="" aria-label="">
            
                <style>
                .omnisend-form-633313c2fca4de681b98241c-field-container-62a3147776d81914aa87ed98-required {
                    padding:12px 0;;
                    font-family: Arial, sans-serif;
                    font-size: 16px;
                    line-height: 120%;
                    color: #FF0000;
                }
            </style>
            
                <div class="omnisend-form-633313c2fca4de681b98241c-field-container-62a3147776d81914aa87ed98-required" style="display: none;">This field is required</div>
            
            
                <style>
                .omnisend-form-633313c2fca4de681b98241c-field-container-62a3147776d81914aa87ed98-error {
                    padding:12px 0;;
                    font-family: Arial, sans-serif;
                    font-size: 16px;
                    line-height: 120%;
                    color: #FF0000;
                }
            </style>
            
                <div class="omnisend-form-633313c2fca4de681b98241c-field-container-62a3147776d81914aa87ed98-error" style="display: none;">The email address must contain @ and a valid domain</div>
            
            
            </div>
            
                                
                                    <!--Button content block starts -->
            
            
            
            
            <style type="text/css">
                .omnisend-form-633313c2fca4de681b98241c-action-container-627932485028ebd8c6660c51{
                    padding:12px;;
                    display: flex;
                    flex-direction: column;
                }
            
                #omnisend-form-633313c2fca4de681b98241c-action-627932485028ebd8c6660c51.omnisend-form-633313c2fca4de681b98241c-action-627932485028ebd8c6660c51{
                    
                    
                    
                        align-self: center;
                    
                    
                        width: 100%;
                    
                    font-size:16px;font-family:Arial, sans-serif;color:#FFFFFF;
                    border:2px solid #0f0000;border-radius:8px;
                    background-color: #000000;
                    padding: 16px;
                    box-sizing: border-box;
                    text-align: center;
                    cursor: pointer;
                    word-break: break-word;
                    text-decoration: none;
                    line-height: 120%;
                    margin: 0;
                    letter-spacing: normal;
                    font-weight: normal;
                }
            
                #omnisend-form-633313c2fca4de681b98241c-action-627932485028ebd8c6660c51.omnisend-form-633313c2fca4de681b98241c-action-627932485028ebd8c6660c51:disabled {
                    cursor: default;
                    opacity: 0.6;
                }
            
                .omnisend-form-633313c2fca4de681b98241c-error {
                    padding:12px 0;;
                    font-family: Arial, sans-serif;
                    font-size: 16px;
                    line-height: 120%;
                    color: #FF0000;
                }
            
            </style>
            <div class="omnisend-form-633313c2fca4de681b98241c-action-container-627932485028ebd8c6660c51">
                
                    <div class="omnisend-form-633313c2fca4de681b98241c-error" style="display: none;">Something went wrong!</div>
                    <button class="omnisend-form-633313c2fca4de681b98241c-action-627932485028ebd8c6660c51" id="omnisend-form-633313c2fca4de681b98241c-action-627932485028ebd8c6660c51" type="submit">search</button>
                
                    <body>
                        

                        <style>
                            body {
               background: lightblue url("https://cdn.dribbble.com/users/5332454/screenshots/14645302/media/f1f72c2d9211d04c9348f4dd8683a8da.gif") no-repeat fixed center;
               background-size: cover;
                         </style>
                    </body>
            </div>
            
                                
           
 

        <form action="/shop/T-shirt" method="GET"></form>

