<form class="form-signup" action="/users/login" method="POST">
    
    <label for="email">Email:</label>
    <input id="q" type="email" name="email" id="email">
    

    
    <label for="password">Password:</label>
    <input id="q" type="password" name="password" id="password">
   

    <button id="q" class="submit-btn" type="submit">Login</button>
</form>