<form action="/users/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">

    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <button type="submit">Login</button>
</form>

<style>
form i {
    margin-left: -30px;
    cursor: pointer;
    
}

body {
               background: lightblue url("https://i0.wp.com/codemyui.com/wp-content/uploads/2018/08/Awake-to-Sleeping-Totoro-Toggle.gif?fit=880%2C440&ssl=1") no-repeat fixed center;
               background-size: cover;}
    
form{
    margin-top: 260px;
    
    text-align:center;
}

span {
    display:block;
    
}
input {
        margin-inline: 50px;
        height: 40px;
        width: 300px;
        line-height: 50px;
        font-weight: 600;
        font-size: 2px;
        border-radius: 2px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #444;
        opacity: 0.6;
        outline: none;
        color: #fff;
       
       
    }
    

   
    button {
        height: 40px;
        width: 120px;
        border: none;
        border-radius: 20px;
        background: linear-gradient(to left, #ab68ca, #de67a3); 
        color: #fff;
        font-weight: bolder;
        margin-top: 20px;
        cursor: pointer;
        outline: none;
        display:block
    }



.show-hide {
    display: block;
}

    input[type="text"],
select {
  width: 40%;
  padding: 50px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1px;
  box-sizing: border-box;

}
input[type="password"],
select {
  width: 20%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1px;
  box-sizing: border-box;
}

   body {
  background-color: rgb(100, 158, 160);
}

input[type="text"],
select {
  width: 40%;
  padding: 50px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1px;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input[type="email"],
select {
  width: 20%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1px;
  box-sizing: border-box;
}
    button {
        height: 40px;
        width: 180px;
        border: none;
        border-radius: 20px;
        background: linear-gradient(to left, #ab68ca, #de67a3); 
        color: #fff;
        font-weight: bolder;
        margin-top: 30px;
        cursor: pointer;
        outline: none;
        margin-left:500px;
    }


.show-hide {
    display: block;
}

.expand {
    transform: translateY(300px);
}

</style>
