
<body>
    <h2>Order List</h2>
    <div id="card-container">
        <% allOrders.forEach(order => { %>
            <div class="card">
                <!-- <section class="top"></section> -->
            <div class="product-info">
               
                <p><%= order.productId %></p>                
                <p><%= order.Id %></p>
                
            </div>
        </div>
        <% }) %>
    </div>

</body>
