<h2>Hello, <%= user.name%> ❤️ </h2>

<h4>List of favorite book</h4>

<% faves.forEach(b => { %>

    <li><%= b.bookTitle %></li>

    <img src="<%= b.bookImage%>" alt="">

    <form method="POST" action="/users/profile/<%= b.bookId %>?_method=DELETE">
        <button type="submit">delete</button>
    </form>
    
    
<% })  %>