<h1>&#x2728;Tomodachi anime shop &#x2728;</h1>

<button><a href="/shop/cap">cap</button></a>
<button><a href="/shop/T-shirt">T-shirt</button></a>
<button><a href="/shop/hoodie">hoodie</button></a>
<button><a href="/shop/order">🛒</button></a>


<style>
    body {
background: lightblue url("image.png") no-repeat fixed center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 110px;
    margin-left: 320px;
}
button {
    display:inline;
    font-size:16px;font-family:Arial, sans-serif;color:#FFFFFF;
                    border:2px solid #0f0000;border-radius:8px;
                    background-color: #000000;
                    padding: 25px;
                    margin-right: 30px;
                    box-sizing: border-box;
                    text-align: center;
                    margin-left: 150px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    word-break: break-word;
                    text-decoration: none;
                    line-height: 100%
                    letter-spacing: normal;
            
                    margin-top: 110px;
                  
}

}
    
 
</style>
</body>

