<h2>Hello, <%= user.email%> :)</h2>
<style>
body{
    background-image:url(https://cdn.shopify.com/s/files/1/0612/7281/7886/products/download_1_1500x.jpg?v=1645067442);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center; 
}
</style>