<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Terms and conditions</h2>
    <p>
        <h3>Purchase Policy</h3>

        We’ve done everything we can to ensure that purchasing on our site goes as smoothly as possible.
        Below is our purchase policy. Please read carefully before proceeding. If you continue to use our service or purchase tickets on our site (and we hope you do), then you are agreeing to the following terms and conditions.
        If you have any questions, give us a shout at info@solymarbahrain.com 

<h3>Our role</h3>
We love music as much as you do, but we’re not always the promoters. Instead, we provide a platform which sells tickets and collects payments on behalf of artists,  and promoters and basically anyone who is authorized to sell tickets (“Event Organizers”) at Solymar Beach.
To be clear: we are NOT directly involved with the operations of an event. This means, among other things, that we have no influence on the quality of the event (e.g., if it sucks), the decision to modify an event in any way (e.g., if the date or the lineup is changed), or the enforcement of the Event Organizer’s rules (e.g., kicking you out for forgetting to wear shoes).
If you are unhappy with the event itself, you’ll need to take the matter up directly with the Event Organizer who can address your concerns and issue refunds, at their discretion. You can always reach out to us to find the best contact for the Event Organizer. In essence, what we are saying is: by using our Site, you agree not to bring any claims against us for any potential issues you may have with an Event Organizer’s terms or services.

<h3>Pricing and availability</h3>

Event Organizers set the number of tickets available for an event, and their pricing. Pricing and availability may change over time, so be sure to plan ahead.

Once you’ve successfully added tickets to the checkout, you will have a limited amount of time to complete your purchase. If the time expires, you’ll have to begin the process again, and you may see changes in price or availability for your chosen tickets.

<h3>Errors</h3>

If, due to human error or our Site’s malfunction, you purchase a ticket at a time or price not approved by the Event Organizer, we have the right to cancel the transaction and refund the full amount you paid.

<h3>Purchasing</h3>

Before purchasing a ticket, be smart—make sure to carefully read (and reread) all the details. This includes confirming that you’ve selected the correct time, date, quantity, and type of ticket. Next, read over the Event Organizer’s rules listed on the event page and make sure that you understand what the Event Organizer expects of you (e.g., appropriate wardrobe and conduct).

<h3>Order confirmation</h3>

If the order is correct and looks good, go for it and make your purchase. By doing so, you agree to pay in full and use only the payment methods you are authorized to use.

After you finish, you’ll be emailed an order confirmation within one (1) hour. You can also view your tickets by logging into your Solymar Box Office  account.

If you do not receive a confirmation for your tickets, please contact us at info@solymarbahrain.com  to check the status of your order. Let us know as many details as you can about the transaction, including your full name and order number.

<h3>Using your tickets</h3>

After you purchase a ticket, keep track of it. Don’t let anyone else get a copy of your tickets or have access to your email account where they can print duplicates. In most cases, the events for which we sell tickets will be using scanning equipment to verify the validity of your tickets, so if your ticket has already been scanned in, yours won’t work!

<h3>Scheduling changes & cancellations</h3>

Any decision to cancel is the Event Organizer’s and not in our control. We ask our partners to be fair and give advance warning, and we will notify you as soon as we become aware of a cancellation. However, we cannot guarantee that you will not be inconvenienced by an event cancellation.

<h3>Refunds</h3>

All purchases are final and cannot be exchanged for tickets for another event. Please be aware that a ticket is a revocable license. Admission can be refused at the Event Organizer’s discretion. A ticket cannot be redeemed for cash. Refunds will only be issued at the discretion of the Event Organizer.

If an event has been moved or rescheduled, please contact the Event Organizer directly for further information.

<h3>Unlawful resale</h3>

We can guarantee the authenticity of only those tickets purchased directly on our Site. Other online vendors, brokers, or individuals may try to sell you Solymar tickets; but we can only verify the legitimacy of tickets purchased directly through Solymar Box Office.

Solymar Box Office tickets are for individual use only. The advertising of our tickets in sweepstakes or promotions is not allowed without our written preauthorization.

<h3>Ejection</h3>

The Event Organizer always reserves the right to refuse admission to, or remove, anyone who acts with disorderly conduct or otherwise violates any rule of the Event Organizer (e.g., refusing entry to those carrying alcohol, recording devices, and/or noise/chemical irritants).

To enforce this policy, the Event Organizer may subject you and your personal belongings to a search when you enter the event location.

<h3>Registration and communication</h3>

Our registration process is designed to make purchasing as easy as possible.

Please see our Privacy Policy to learn about all the ways we protect your privacy and keep your data safe.

All activity on your account is your responsibility. Do not use another user’s account without explicit permission. If you see any unauthorized activity on your account, please contact us immediately .

All correspondence to and from Solymar  is handled first by email and satisfies any legal requirement that our communication with you be in writing.

<h3>Conduct</h3>

Our Site requires reasonable common-sense conduct from our users to keep running smoothly. The basics:
<ul>
    <li>You have to be real—not a robot or part of any commercial service looking to use Solymar Box Office for resale of tickets on the secondary market. This includes putting an unreasonable load on our system or requesting more than 1,500 pages of our Site during any 24-hour period.</li>
    <li>You have to be who you say you are. Your IP should not be concealed and your username should not be used to impersonate another individual. Usernames should not be obscene or otherwise offensive.</li>
    <li>Don’t try to hack into the Site to circumvent our security measures, including our CAPTCHA, or get unauthorized access to other users’ accounts.
</li>
</ul>
Don’t deploy any malware, spamming, or flooding that would interfere with other users’ experiences on the Site.
Don’t download, export, reverse engineer, or create derivative works of any content on our Site.
Don’t frame or mirror the Site, or use any spider, robot, or automated tool to index, dateline, or reproduce content or user behavior on the Site, unless you have written authorization from us to do so.
Don’t use our Site to transmit or upload material that would infringe upon others’ rights or privacy, intellectual property, or publicity.
Don’t use a password or code (pre-sales or otherwise) to get access to the Site if you aren’t the intended recipient of that password or code.
Don’t make any copy or counterfeit reproduction of our tickets.
Don’t seek a dispute or “chargeback” from your credit card company for a valid purchase. If you do, your tickets may be canceled, and in the future we may refuse to honor the credit card and/or block the accounts of people who use that card.
Security

We use the best security measures possible to safeguard our systems, and to ensure the security of your data. However, the Internet is never 100% secure. You should take the steps you can to protect yourself from identity theft.

Never share your passwords. We, therefore, assume no liability for any problems that arise from the interception and misuse of information on our sites and apps.

Termination of services

We definitely want to stick together—but at the end of the day this is our Site, and we’ve got to keep it running under what we believe are reasonable terms of service. This includes reserving the rights, without any liability to you or a third party, to modify, suspend, or discontinue any part of this Site at any time, with or without notice to you.

There are two ways for us to part:

You break up with us. If you decide you no longer want to have a Solymar Box office  account, or if you no longer agree to our terms of service, you can cancel your account at any time. To cancel, contact info@solymarbahrain.com. 
We break up with you. If we find that you’ve been violating our rules of conduct or any part of these terms of service, we reserve the right to cancel your account. If so, we’ll notify you of our decision by email.
Sweepstakes and contests

Solymar  puts together fair and straightforward rules for all sweepstakes and contests we or our third-party partners hold on the Site. The rules will be posted with each promotion. Please read the rules carefully before you participate.

Links

Solymar  Site may contain links to other websites that are not under our control. We are not responsible for any other website’s content, nor by linking to it are we implying any sort of endorsement of that website or its operators.

Advertising

The prices advertised on our Site and in our marketing material may not be the prevailing price on the day the material is circulated.

Claims of copyright infringement

All content on our Site is either property of Solymar CO WLL or licensed property from our partners, and is protected in full by intellectual property laws. All registered and unregistered trademarks, logos, and service marks may not be used without our prior written permission.

If you believe that anything displayed on our site is in violation of your intellectual property rights, please notify Tixr via info@solymarbahrain.com  and we will review the issue promptly.

Modifications

Check the Solymar website to ensure that you are viewing the latest version of this agreement. We may change our privacy policy from time to time.

Limitation of liability

If you purchase a ticket with us, you assume all risks associated with attending the event, including but not limited to the risks of inclement weather, and waive any claims for personal injury or deaths against us.

Our Site is provided on an “AS IS” and “AS AVAILABLE” basis. Use of our Site is also at your own risk and you agree to indemnify, defend, and hold us or our services partners, affiliates, successors, suppliers, attorneys, and advertisers, harmless from any liability, loss claim and expense, including reasonable attorney’s fees, related to (a) your violation of these terms of services and/or (b) the accuracy, content, completeness, legality, and reliability of the information accessible on our Site.

THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE SITE MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN. TIXR, INC. AND/OR ITS AFFILIATES MAY MAKE IMPROVEMENTS AND/OR CHANGES TO THE SITE AT ANY TIME.

SOLYMAR CO WLL AND/OR OUR AFFILIATES MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, OR ACCURACY OF THE INFORMATION, SOFTWARE, PRODUCTS, SERVICES, AND RELATED GRAPHICS CONTAINED ON THE SITE FOR ANY PURPOSE. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ALL SUCH INFORMATION, SOFTWARE, PRODUCTS, SERVICES, AND RELATED GRAPHICS ARE PROVIDED “AS IS” WITHOUT WARRANTY OR CONDITION OF ANY KIND. SOLYMAR CO WLL AND/OR OUR AFFILIATES HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION, SOFTWARE, PRODUCTS, SERVICES, AND RELATED GRAPHICS, INCLUDING ALL IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.

TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL SOLYMAR CO WLL AND/OR OUR AFFILIATES BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS, INJURY, CLAIM, LIABILITY, LOSS OF USE, DATA, OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THE SITE, DELAY OR FAILURE IN PERFORMANCE BEYOND OUR CONTROL, WITH THE DELAY OR INABILITY TO USE THE SITE OR RELATED SERVICES, THE PROVISION OF OR FAILURE TO PROVIDE SERVICES, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES, AND RELATED GRAPHICS OBTAINED THROUGH THE SITE, OR OTHERWISE ARISING OUT OF THE USE OF THE SITE, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY, OR OTHERWISE, EVEN IF SOLYMAR CO WLL OR ANY OF ITS AFFILIATES HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. BECAUSE SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE SITE, OR WITH ANY OF THESE TERMS OF USE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SITE.

SOLYMAR CO WLL AND ITS PARTNERS’ AND AFFILIATES’ AGGREGATE LIABILITY IN CONNECTION WITH ANY CLAIM ARISING OUT OF OR RELATING TO THE APPLICATION OR SERVICES SHALL NOT EXCEED 30 BHD, AND THAT AMOUNT SHALL BE IN LIEU OF ALL OTHER REMEDIES THAT YOU MAY HAVE AGAINST US.

ANY CAUSE OF ACTION YOU MAY HAVE WITH RESPECT TO THE APPLICATION AND SERVICES MUST BE BROUGHT BY YOU WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ARISES OR BE FOREVER WAIVED AND BARRED.

Arbitration and disputes

Disputes or claims relating to your use of our Site or any products you have purchased from our Site shall be finally resolved through binding arbitration.

The arbitration will be before a single arbitrator conducted in the Kingdom of Bahrain, in the English language.

We want to hear from you

If you have questions or comments, you can contact us at info@solymarbahrain.com

If you believe that anything displayed on our site is in violation of your intellectual property rights, please notify Solymar via info@solymarbahrain.com with the subject heading “Intellectual Property Violation Notice” and we will review the issue promptly.
    </p>
</body>
</html>

